#
# Apache/PHP/Drupal settings:
#

# Various rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteBase /git/SCoembedApi.git/

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^callback\.html$	callback.php
  RewriteRule ^\?.*$ ''	

</IfModule>

# $Id: .htaccess,v 1.90.2.3 2008/12/10 20:04:08 goba Exp $
